absl-py
accelerate
addict
aiohttp
aiosignal
aliyun-python-sdk-core
aliyun-python-sdk-kms
antlr4-python3-runtime
appnope
asttokens
astunparse
async-timeout
attrs
audioread
backcall
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
crcmod
cryptography
cycler
datasets
debugpy
decorator
diffusers
dill
einops
executing
filelock
flatbuffers
fonttools
frozenlist
fsspec
ftfy
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jax
jedi
Jinja2
jmespath
joblib
jupyter_client
jupyter_core
keras
kiwisolver
libclang
librosa
llvmlite
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
mmdet
modelscope
mpmath
multidict
multiprocess
nest-asyncio
networkx
nltk
numba
numpy
oauthlib
omegaconf
opencv-python
openai
opt-einsum
oss2
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
pooch
portalocker
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycocoevalcap
pycocotools
pycparser
pycryptodome
pyDeprecate
Pygments
pyparsing
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
rapidfuzz
regex
requests
requests-oauthlib
resampy
responses
rouge-score
rsa
sacrebleu
scikit-learn
scipy
simplejson
six
sortedcontainers
soundfile
stack-data
sympy
tabulate
taming-transformers-rom1504
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminaltables
threadpoolctl
timm
tokenizers
tomli
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
wrapt
xxhash
yapf
yarl
zhconv
zipp
